@font-face {
		font-family: 'ITCOfficinaSerifBold';
		src: url('../fonts/officinaserif-bold-webfont.eot');
		src: url('../fonts/officinaserif-bold-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/officinaserif-bold-webfont.woff') format('woff'),
				 url('../fonts/officinaserif-bold-webfont.ttf') format('truetype'),
				 url('../fonts/officinaserif-bold-webfont.svg#ITCOfficinaSerifBold') format('svg');
		font-weight: normal;
		font-style: normal;
}
@font-face {
		font-family: 'ITCOfficinaSerifBookRegular';
		src: url('../fonts/officinaserif-book-webfont.eot');
		src: url('../fonts/officinaserif-book-webfont.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/officinaserif-book-webfont.woff') format('woff'),
				 url('../fonts/officinaserif-book-webfont.ttf') format('truetype'),
				 url('../fonts/officinaserif-book-webfont.svg#ITCOfficinaSerifBookRegular') format('svg');
		font-weight: normal;
		font-style: normal;
}